eclipse-workspace/
build/
target/
target-*/
*gwt-unitCache/
bin/
gen/
.settings/
runtime-EclipseApplication/
runtime-EclipseXtext/
www
.DS_Store
*xml.versionsBackup
.settings
.project
*.classpath
*.eclipse.core.prefs

.idea/
out/
target/

*.jar
*.iml
*.class
.project
.classpath
/bin/

.resourceCache